<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <factfinder>
            <general>
                <is_enabled>0</is_enabled>
                <logging_enabled>0</logging_enabled>
                <password backend_model="Magento\Config\Model\Config\Backend\Encrypted" />
                <use_for_categories>1</use_for_categories>
                <show_add_to_cart_button>1</show_add_to_cart_button>
                <ff_enrichment>0</ff_enrichment>
                <tracking_product_number_field_role>{"brand":"Brand","campaignProductNumber":"ProductNumber","deeplink":"ProductURL","description":"Description","displayProductNumber":"ProductNumber","ean":"EAN","imageUrl":"ImageURL","masterArticleNumber":"Master","price":"Price","productName":"Name","trackingProductNumber":"ProductNumber"}</tracking_product_number_field_role>
            </general>
            <advanced>
                <version>7.3</version>
                <use_url_parameter>1</use_url_parameter>
                <only_search_params>1</only_search_params>
            </advanced>
            <data_transfer>
                <ff_cron_enabled>0</ff_cron_enabled>
                <ff_push_import_enabled>1</ff_push_import_enabled>
                <ff_push_import_type>data,suggest</ff_push_import_type>
                <ff_upload_port>21</ff_upload_port>
            </data_transfer>
            <basic_auth_data_transfer>
                <ff_upload_url_password backend_model="Magento\Config\Model\Config\Backend\Encrypted" />
            </basic_auth_data_transfer>
        </factfinder>
    </default>
</config>
