<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Omikron\Factfinder\Api\ClientInterface" type="Omikron\Factfinder\Model\Client" />
    <preference for="Omikron\Factfinder\Api\Config\AuthConfigInterface" type="Omikron\Factfinder\Model\Config\AuthConfig" />
    <preference for="Omikron\Factfinder\Api\Config\ChannelProviderInterface" type="Omikron\Factfinder\Model\Config\CommunicationConfig" />
    <preference for="Omikron\Factfinder\Api\Config\CommunicationConfigInterface" type="Omikron\Factfinder\Model\Config\CommunicationConfig" />
    <preference for="Omikron\Factfinder\Api\Config\FeatureConfigInterface" type="Omikron\Factfinder\Model\Config\FeatureConfig" />
    <preference for="Omikron\Factfinder\Api\Data\TrackingProductInterface" type="Omikron\Factfinder\Model\Data\TrackingProduct" />
    <preference for="Omikron\Factfinder\Api\ExporterInterface" type="Omikron\Factfinder\Model\Exporter" />
    <preference for="Omikron\Factfinder\Api\FieldRolesInterface" type="Omikron\Factfinder\Model\FieldRoles" />
    <preference for="Omikron\Factfinder\Api\Filter\FilterInterface" type="Omikron\Factfinder\Model\Filter\TextFilter" />
    <preference for="Omikron\Factfinder\Api\SessionDataInterface" type="Omikron\Factfinder\Model\SessionData" />

    <type name="Magento\Framework\View\TemplateEngineFactory">
        <arguments>
            <argument name="engines" xsi:type="array">
                <item name="mustache" xsi:type="string">Omikron\Factfinder\Model\Ssr\Template\Engine</item>
            </argument>
        </arguments>
    </type>
    <type name="Mustache_Engine">
        <arguments>
            <argument name="options" xsi:type="array">
                <item name="loader" xsi:type="object">Omikron\Factfinder\Model\Ssr\Template\Loader</item>
                <item name="strict_callables" xsi:type="boolean">true</item>
            </argument>
        </arguments>
    </type>
    <type name="Omikron\Factfinder\Model\Ssr\Template\Loader">
        <arguments>
            <argument name="loader" xsi:type="object">Mustache_Loader_StringLoader</argument>
            <argument name="filter" xsi:type="object">Omikron\Factfinder\Model\Ssr\Template\Filter</argument>
        </arguments>
    </type>

    <virtualType name="Omikron\Factfinder\Model\Product\Attribute\CollectionFactory" type="Magento\Eav\Model\ResourceModel\Entity\Attribute\CollectionFactory">
        <arguments>
            <argument name="instanceName" xsi:type="string">Magento\Catalog\Model\ResourceModel\Product\Attribute\Collection</argument>
        </arguments>
    </virtualType>
    <virtualType name="Omikron\Factfinder\Model\Export\CatalogFeed" type="Omikron\Factfinder\Model\Export\Feed">
        <arguments>
            <argument name="dataProvider" xsi:type="object">Omikron\Factfinder\Model\Export\Catalog\DataProvider</argument>
            <argument name="columns" xsi:type="array">
                <item name="ProductNumber" xsi:type="string">ProductNumber</item>
                <item name="Master" xsi:type="string">Master</item>
                <item name="Name" xsi:type="string">Name</item>
                <item name="Description" xsi:type="string">Description</item>
                <item name="Short" xsi:type="string">Short</item>
                <item name="ProductURL" xsi:type="string">ProductURL</item>
                <item name="Price" xsi:type="string">Price</item>
                <item name="Brand" xsi:type="string">Brand</item>
                <item name="Availability" xsi:type="string">Availability</item>
                <item name="MagentoId" xsi:type="string">MagentoId</item>
                <item name="ImageURL" xsi:type="string">ImageURL</item>
                <item name="CategoryPath" xsi:type="string">CategoryPath</item>
                <item name="Attributes" xsi:type="string">Attributes</item>
                <item name="HasVariants" xsi:type="string">HasVariants</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="Omikron\Factfinder\Model\Export\CmsFeed" type="Omikron\Factfinder\Model\Export\Feed">
        <arguments>
            <argument name="dataProvider" xsi:type="object">Omikron\Factfinder\Model\Export\Cms\DataProvider</argument>
            <argument name="columns" xsi:type="array">
                <item name="PageId" xsi:type="string">PageId</item>
                <item name="Master" xsi:type="string">Master</item>
                <item name="PageIdentifier" xsi:type="string">PageIdentifier</item>
                <item name="PageTitle" xsi:type="string">PageTitle</item>
                <item name="PageContentHeading" xsi:type="string">PageContentHeading</item>
                <item name="PageContent" xsi:type="string">PageContent</item>
                <item name="PageMetaKeywords" xsi:type="string">PageMetaKeywords</item>
                <item name="PageMetaDescription" xsi:type="string">PageMetaDescription</item>
                <item name="PageUrl" xsi:type="string">PageUrl</item>
                <item name="PageImage" xsi:type="string">PageImage</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="Omikron\Factfinder\Model\Export\CombinedFeed" type="Omikron\Factfinder\Model\Export\Feed">
        <arguments>
            <argument name="dataProvider" xsi:type="object">Omikron\Factfinder\Model\Export\Combined\DataProvider</argument>
            <argument name="columns" xsi:type="array">
                <item name="ProductNumber" xsi:type="string">ProductNumber</item>
                <item name="Master" xsi:type="string">Master</item>
                <item name="Name" xsi:type="string">Name</item>
                <item name="Description" xsi:type="string">Description</item>
                <item name="Short" xsi:type="string">Short</item>
                <item name="ProductURL" xsi:type="string">ProductURL</item>
                <item name="Price" xsi:type="string">Price</item>
                <item name="Brand" xsi:type="string">Brand</item>
                <item name="Availability" xsi:type="string">Availability</item>
                <item name="MagentoId" xsi:type="string">MagentoId</item>
                <item name="ImageURL" xsi:type="string">ImageURL</item>
                <item name="CategoryPath" xsi:type="string">CategoryPath</item>
                <item name="Attributes" xsi:type="string">Attributes</item>
                <item name="HasVariants" xsi:type="string">HasVariants</item>
                <item name="PageId" xsi:type="string">PageId</item>
                <item name="PageIdentifier" xsi:type="string">PageIdentifier</item>
                <item name="PageTitle" xsi:type="string">PageTitle</item>
                <item name="PageContentHeading" xsi:type="string">PageContentHeading</item>
                <item name="PageContent" xsi:type="string">PageContent</item>
                <item name="PageMetaKeywords" xsi:type="string">PageMetaKeywords</item>
                <item name="PageMetaDescription" xsi:type="string">PageMetaDescription</item>
                <item name="PageUrl" xsi:type="string">PageUrl</item>
                <item name="PageImage" xsi:type="string">PageImage</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="Omikron\Factfinder\Logger" type="Monolog\Logger">
        <arguments>
            <argument name="name" xsi:type="string">FACT-Finder</argument>
            <argument name="handlers" xsi:type="array">
                <item name="factfinder" xsi:type="object">Omikron\Factfinder\Logger\Handler</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="Omikron\Factfinder\Logger\Handler" type="Magento\Framework\Logger\Handler\Base">
        <arguments>
            <argument name="fileName" xsi:type="string">/var/log/factfinder.log</argument>
        </arguments>
    </virtualType>
    <virtualType name="Omikron\Factfinder\Model\TrackingEventClient" type="Omikron\Factfinder\Model\Client">
        <arguments>
            <argument name="serializer" xsi:type="object">Omikron\Factfinder\Model\Serializer\PlainTextSerializer</argument>
        </arguments>
    </virtualType>
    <virtualType name="Omikron\Factfinder\Model\Export\Catalog\ProductField\Brand" type="Omikron\Factfinder\Model\Export\Catalog\ProductField\GenericField">
        <arguments>
            <argument name="attributeCode" xsi:type="string">manufacturer</argument>
        </arguments>
    </virtualType>

    <type name="Magento\Framework\View\Asset\Minification">
        <plugin name="ff.asset.minification" type="Omikron\Factfinder\Plugin\AssetMinificationPlugin" />
    </type>
    <type name="Omikron\Factfinder\Controller\Export\Product">
        <arguments>
            <argument name="channelProvider" xsi:type="object">Omikron\Factfinder\Model\Config\CommunicationConfig</argument>
        </arguments>
    </type>
    <type name="Omikron\Factfinder\Controller\Export\Cms">
        <arguments>
            <argument name="channelProvider" xsi:type="object">Omikron\Factfinder\Model\Config\CmsConfig</argument>
        </arguments>
    </type>
    <type name="Omikron\Factfinder\Model\Api\PushImport">
        <plugin name="logPushImportExceptions" type="Omikron\Factfinder\Plugin\LogExceptions" />
    </type>
    <type name="Omikron\Factfinder\Model\Api\Tracking">
        <plugin name="logTrackingExceptions" type="Omikron\Factfinder\Plugin\LogExceptions" />
    </type>
    <type name="Omikron\Factfinder\Model\Api\Tracking">
        <arguments>
            <argument name="factFinderClient" xsi:type="object">Omikron\Factfinder\Model\TrackingEventClient</argument>
        </arguments>
    </type>
    <type name="Omikron\Factfinder\Model\Export\Catalog\DataProvider">
        <arguments>
            <argument name="entityTypes" xsi:type="array">
                <item name="simple" xsi:type="string">Omikron\Factfinder\Model\Export\Catalog\ProductType\SimpleDataProvider</item>
                <item name="configurable" xsi:type="string">Omikron\Factfinder\Model\Export\Catalog\ProductType\ConfigurableDataProvider</item>
                <item name="grouped" xsi:type="string">Omikron\Factfinder\Model\Export\Catalog\ProductType\GroupedDataProvider</item>
                <item name="bundle" xsi:type="string">Omikron\Factfinder\Model\Export\Catalog\ProductType\BundleDataProvider</item>
            </argument>
        </arguments>
    </type>
    <type name="Omikron\Factfinder\Model\Export\Catalog\ProductType\SimpleDataProvider">
        <arguments>
            <argument name="productFields" xsi:type="array">
                <item name="ImageURL" xsi:type="object">Omikron\Factfinder\Model\Export\Catalog\ProductField\ProductImage</item>
                <item name="CategoryPath" xsi:type="object">Omikron\Factfinder\Model\Export\Catalog\ProductField\CategoryPath</item>
                <item name="Brand" xsi:type="object">Omikron\Factfinder\Model\Export\Catalog\ProductField\Brand</item>
                <item name="Attributes" xsi:type="object">Omikron\Factfinder\Model\Export\Catalog\ProductField\Attributes</item>
            </argument>
        </arguments>
    </type>
    <type name="Omikron\Factfinder\Model\Export\Catalog\ProductField\Attributes">
        <arguments>
            <argument name="filter" xsi:type="object">Omikron\Factfinder\Model\Filter\ExtendedTextFilter</argument>
        </arguments>
    </type>
    <type name="Omikron\Factfinder\Model\Export\Catalog\ProductType\ConfigurableDataProvider">
        <arguments>
            <argument name="filter" xsi:type="object">Omikron\Factfinder\Model\Filter\ExtendedTextFilter</argument>
        </arguments>
    </type>
    <type name="Omikron\Factfinder\Model\Export\Cms\Page">
        <arguments>
            <argument name="pageFields" xsi:type="array">
                <item name="PageContent" xsi:type="object">Omikron\Factfinder\Model\Export\Cms\Field\Content</item>
                <item name="PageUrl" xsi:type="object">Omikron\Factfinder\Model\Export\Cms\Field\Url</item>
                <item name="PageImage" xsi:type="object">Omikron\Factfinder\Model\Export\Cms\Field\Image</item>
            </argument>
        </arguments>
    </type>
    <type name="Omikron\Factfinder\Model\Export\Combined\DataProvider">
        <arguments>
            <argument name="dataProviders" xsi:type="array">
                <item name="products" xsi:type="object">Omikron\Factfinder\Model\Export\Catalog\DataProvider</item>
                <item name="cms" xsi:type="object">Omikron\Factfinder\Model\Export\Cms\DataProvider</item>
            </argument>
        </arguments>
    </type>
    <type name="Omikron\Factfinder\Model\Export\FeedFactory">
        <arguments>
            <argument name="feedPool" xsi:type="array">
                <item name="product" xsi:type="string">Omikron\Factfinder\Model\Export\CatalogFeed</item>
                <item name="cms" xsi:type="string">Omikron\Factfinder\Model\Export\CmsFeed</item>
                <item name="combined" xsi:type="string">Omikron\Factfinder\Model\Export\CombinedFeed</item>
            </argument>
        </arguments>
        <plugin name="changeFeedType" type="Omikron\Factfinder\Plugin\Export\ChangeFeedType" />
    </type>
    <type name="Omikron\Factfinder\Model\FtpUploader">
        <arguments>
            <argument name="client" xsi:type="object">Magento\Framework\Filesystem\Io\Ftp</argument>
        </arguments>
    </type>
    <type name="Omikron\Factfinder\Model\SessionData">
        <arguments>
            <argument name="customerSession" xsi:type="object">Magento\Customer\Model\Session\Proxy</argument>
        </arguments>
    </type>
    <type name="Omikron\Factfinder\Plugin\LogExceptions">
        <arguments>
            <argument name="logger" xsi:type="object">Omikron\Factfinder\Logger</argument>
        </arguments>
    </type>
    <type name="Omikron\Factfinder\ViewModel\Cart">
        <arguments>
            <argument name="checkoutSession" xsi:type="object">Magento\Checkout\Model\Session\Proxy</argument>
        </arguments>
    </type>
    <type name="Omikron\Factfinder\ViewModel\CategoryPath">
        <arguments>
            <argument name="initial" xsi:type="array">
                <item name="navigation" xsi:type="string">navigation=true</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Framework\Console\CommandListInterface">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="omikron_factfinder_export_products" xsi:type="object">Omikron\Factfinder\Console\Command\ExportProducts</item>
            </argument>
        </arguments>
    </type>
</config>
