Aleksander Laurowski <ext-a.laurowski@omikron.net>         a-laurowski <Panpiczek1!>
Aleksander Laurowski <ext-a.laurowski@omikron.net>         a-laurowski <aleksander.laurowski1991@gmail.com>
Aleksander Laurowski <ext-a.laurowski@omikron.net>         a.laurowski <alaurowski.objectivity@gmail.com>
Aleksander Laurowski <ext-a.laurowski@omikron.net>         alaurowski <alaurowski.objectivity@gmail.com>
Aleksander Laurowski <ext-a.laurowski@omikron.net>         aleksanderlaurowski <aleksander.laurowski@fastwhitecat.com>
Aleksander Laurowski <ext-a.laurowski@omikron.net>         Aleksander Laurowski <aleksander.laurowski@omikron.net>
Aleksander Laurowski <ext-a.laurowski@omikron.net>         a.laurowski <ext-a.laurowski@omikron.net>
Andreas von Studnitz <avs@integer-net.de>                  Andreas von Studnitz <avs@avs-webentwicklung.de>
Jarosław Weselski <jweselski@objectivity.co.uk>            Jaroslaw Weselski <jweselski@objectivity.co.uk>
Jarosław Weselski <jweselski@objectivity.co.uk>            jaroslawweselski <36187926+jaroslawweselski@users.noreply.github.com>
Francesco Marangi <francesco.marangi@omikron.net>          Francesco Marangi <2734054+fmarangi@users.noreply.github.com>
Francesco Marangi <francesco.marangi@omikron.net>          Francesco Marangi <francesco.maragi@omikron.net>
Fritz Michael Gschwantner <fmg@inspiredminds.at>           fritzmg <fmg@inspiredminds.at>
Tobias Armbruster <tobias.armbruster@omikron.net>          Tobias Armbruster <armbruster.tobias@gmx.de>
Tobias Armbruster <tobias.armbruster@omikron.net>          toarm <toarm@users.noreply.github.com>
Sebastian Damrath <sebastian.damrath@omikron.net>          Sebastian Damrath <sebastian.damrath@gmail.com>
