.admin__page {
    .ff-config-tab&-nav-item a&-nav-link {
        background-image: url('Omikron_Factfinder::images/logo.png');
        background-repeat: no-repeat;
        background-position: .5rem center;

        span {
            visibility: hidden;
        }
    }
}
