<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Omikron\Factfinder\Model\Source\Attribute">
        <arguments>
            <argument name="collectionFactory" xsi:type="object">Omikron\Factfinder\Model\Product\Attribute\CollectionFactory</argument>
        </arguments>
    </type>
    <virtualType name="CmsExporter" type="Omikron\Factfinder\Model\Api\Export">
        <arguments>
            <argument name="columns" xsi:type="array">
                <item name="PageId" xsi:type="string">PageId</item>
                <item name="PageIdentifier" xsi:type="string">PageIdentifier</item>
                <item name="PageTitle" xsi:type="string">PageTitle</item>
                <item name="PageContentHeading" xsi:type="string">PageContentHeading</item>
                <item name="PageContent" xsi:type="string">PageContent</item>
                <item name="PageMetaKeywords" xsi:type="string">PageMetaKeywords</item>
                <item name="PageMetaDescription" xsi:type="string">PageMetaDescription</item>
                <item name="PageUrl" xsi:type="string">PageUrl</item>
                <item name="PageImage" xsi:type="string">PageImage</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Omikron\Factfinder\Controller\Adminhtml\Export\CmsFeed">
        <arguments>
            <argument name="cmsExporter" xsi:type="object">CmsExporter</argument>
        </arguments>
    </type>
</config>
