<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="factfinder" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>FACT-Finder</label>
            <tab>catalog</tab>
            <resource>Omikron_Factfinder::config</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Main Settings</label>
                <comment><![CDATA[<div class="message message-notice notice"><div data-ui-id="messages-message-success">Please always save the config in the upper right corner after making changes.</div></div>]]></comment>
                <field id="is_enabled" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Activate FACT-Finder integration</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="logging_enabled" translate="label comment" type="select" sortOrder="1" showInDefault="1">
                    <label>Activate Logging</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="address" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Server URL</label>
                    <validate>required-entry validate-url</validate>
                </field>
                <field id="channel" translate="label" type="text" sortOrder="11" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Channel</label>
                    <validate>required-entry</validate>
                </field>
                <field id="username" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Username</label>
                    <validate>required-entry</validate>
                </field>
                <field id="password" translate="label" type="obscure" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Password</label>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                </field>
                <field id="authentication_prefix" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Authentication Prefix</label>
                </field>
                <field id="authentication_postfix" translate="label" type="text" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Authentication Postfix</label>
                </field>
                <field id="ff_build_connection" translate="label comment" type="button" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Test Connection</label>
                    <frontend_model>Omikron\Factfinder\Block\Adminhtml\System\Config\Button\TestConnection</frontend_model>
                    <comment></comment>
                </field>
                <field id="show_add_to_card_button" translate="label" type="select" sortOrder="80" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Show 'Add to Cart' button in search results</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="ff_enrichment" translate="label" type="select" sortOrder="90" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Activate Enrichment feature</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Data enrichment enables you to refine the data coming back from FACT-Finder inside the SDK code. Please refer the documentation for more infos (last chapter about data-communication).</comment>
                </field>
            </group>
            <group id="advanced" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Advanced Settings</label>
                <comment>The advanced settings can change how the search works. Please edit them with caution and only if you know what they are doing.</comment>
                <field id="version" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>API version</label>
                    <source_model>Omikron\Factfinder\Model\Source\FFVersion</source_model>
                    <comment>FACT-Finder version.</comment>
                </field>
                <field id="use_url_parameter" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>use-url-parameter</label>
                    <source_model>Omikron\Factfinder\Model\Adminhtml\System\Config\TrueFalse</source_model>
                    <comment>If set to true, the http parameters of the current search are pushed to the browser url.</comment>
                </field>
                <field id="use_cache" translate="label" type="select" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>use-cache</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>This value determines, if the browser should cache previous search requests or not. Some browsers support this feature and therefore speed up the search for repeated requests.</comment>
                </field>
                <field id="default_query" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>default-query</label>
                    <validate>required-entry</validate>
                    <comment>Determines which search term should be used by default. Default is '*'</comment>
                </field>
                <field id="only_search_params" translate="label comment" type="select" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                    <source_model>Omikron\Factfinder\Model\Adminhtml\System\Config\TrueFalse</source_model>
                    <label>only-search-params</label>
                    <comment>If present, URL parameters like 'channel' and 'sid' are omitted in the URL. This can be used in conjunction with parameter-whitelist</comment>
                </field>
                <field id="parameter_whitelist" translate="label comment" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>parameter-whitelist</label>
                    <comment>If any URL parameters are omitted through other attributes like use-url-parameter="false" or only-search-params you can add specific important parameters manually. Just use a comma separated list like: parameter-whitelist="param1,myParam"</comment>
                    <tooltip>Comma separated field!</tooltip>
                </field>
                <field id="add_params" translate="label" type="text" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>add-params</label>
                    <comment>With this property you can deliver standard parameters which will then be attached to the search request. Example: param1=abc,param2=xyz.</comment>
                </field>
                <field id="add_tracking_params" translate="label" type="text" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>add-tracking-params</label>
                    <comment>With this property you can deliver standard parameters which are attached to every tracking request. Example: param1=abc,param2=xyz.</comment>
                </field>
                <field id="keep_url_params" translate="label" type="text" sortOrder="90" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>keep-url-params</label>
                    <comment>Determines if parameters which are written into the URL should be kept.</comment>
                </field>
                <field id="use_asn" translate="label" type="select" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>use-asn</label>
                    <source_model>Omikron\Factfinder\Model\Adminhtml\System\Config\TrueFalse</source_model>
                    <comment>Determines if the the ASN is returned. Can be set to false to save performance, if the ASN is not required. Default is true.</comment>
                </field>
                <field id="use_found_words" translate="label" type="select" sortOrder="110" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>use-found-words</label>
                    <source_model>Omikron\Factfinder\Model\Adminhtml\System\Config\TrueFalse</source_model>
                    <comment>For found records, FACT-Finder is capable of returning the words which lead to the find. The determination of these words costs performance. It is therefore deactivated by default. If true, words are created. If false, words are not created.</comment>
                </field>
                <field id="use_campaigns" translate="label" type="select" sortOrder="120" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>use-campaigns</label>
                    <source_model>Omikron\Factfinder\Model\Adminhtml\System\Config\TrueFalse</source_model>
                    <comment>Use this parameter if you want to prevent the campaign manager from checking if there is a campaign for this search request.If true, campaigns are analyzed and returned. If false, campaigns are ignored. Default is true.</comment>
                </field>
                <field id="generate_advisor_tree" translate="label" type="select" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>generate-advisor-tree</label>
                    <source_model>Omikron\Factfinder\Model\Adminhtml\System\Config\TrueFalse</source_model>
                    <comment>Is used with advisor campaigns. Please refer the campaign manager documentation. If true, the whole question-answer-tree is returned with the advisor campaign. If false, only the currently active questions and their answers are returned. Default is false.</comment>
                </field>
                <field id="disable_cache" translate="label" type="select" sortOrder="140" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>disable-cache</label>
                    <source_model>Omikron\Factfinder\Model\Adminhtml\System\Config\TrueFalse</source_model>
                    <comment>Controls the usage of search result caches. If true, cache is ignored. If false, cache is used. Default is false.</comment>
                </field>
                <field id="use_personalization" translate="label" type="select" sortOrder="150" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>use-personalization</label>
                    <source_model>Omikron\Factfinder\Model\Adminhtml\System\Config\TrueFalse</source_model>
                    <comment>Allows activating/deactivating of request personalization. If true, the search result is personalized if the personalization module is active and all other requirements are met. If false, the search result is not personalized. Default is true.</comment>
                </field>
                <field id="use_semantic_enhancer" translate="label" type="select" sortOrder="160" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>use-semantic_enhancer</label>
                    <source_model>Omikron\Factfinder\Model\Adminhtml\System\Config\TrueFalse</source_model>
                    <comment>Allows activating/deactivating of the semantic enrichment of requests. If true, the search result is semantically enriched if the enhanced module is activated and all other requirements are met. If false, the search result is not semantically enriched. Default value is true.</comment>
                </field>
                <field id="use_aso" translate="label" type="select" sortOrder="170" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>use-aso</label>
                    <source_model>Omikron\Factfinder\Model\Adminhtml\System\Config\TrueFalse</source_model>
                    <comment>Allows activating/deactivating of automated search optimization. If true, the search result is automatically optimized. If false, the search result is not optimized. Default is true.</comment>
                </field>
                <field id="use_browser_history" translate="label" type="select" sortOrder="180" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>use-browser-history</label>
                    <source_model>Omikron\Factfinder\Model\Adminhtml\System\Config\TrueFalse</source_model>
                    <comment>If true, the search history is pushed to the browser history, even without using url parameter. Default is true.</comment>
                </field>
                <field id="disable_single_hit_redirect" translate="label" type="select" sortOrder="210" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>disable-single-hit-redirect</label>
                    <source_model>Omikron\Factfinder\Model\Adminhtml\System\Config\TrueFalse</source_model>
                    <comment>If true, disables the automatic redirect to the product detail page if only one record is found.</comment>
                </field>
            </group>
            <group id="components" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Activated Web-Components</label>
                <comment>Please always save the config in the upper right corner after making changes.</comment>
                <field id="ff_suggest" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Suggestions</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>TODO Description Suggestions</comment>
                </field>
                <field id="ff_asn" translate="label" type="select" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Filter / ASN</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>TODO Description Filter / ASN</comment>
                </field>
                <field id="ff_paging" translate="label" type="select" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Paging</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>TODO Description Paging</comment>
                </field>
                <field id="ff_sortbox" translate="label" type="select" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Sorting</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>TODO Description Sorting</comment>
                </field>
                <field id="ff_breadcrumb" translate="label" type="select" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Breadcrumb</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>TODO Description Breadcrumb</comment>
                </field>
                <field id="ff_productspp" translate="label" type="select" sortOrder="80" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Products per page</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>TODO Description Products Per Page</comment>
                </field>
                <field id="ff_campaign" translate="label" type="select" sortOrder="90" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Campaigns</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>TODO Description Campaigns</comment>
                </field>
                <field id="ff_pushedproductscampaign" translate="label" type="select" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Pushed Products</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>TODO Description Pushed Products</comment>
                </field>
                <field id="ff_recommendation" translate="label" type="select" sortOrder="110" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Recommendation</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>TODO Description Pushed Products</comment>
                </field>
                <field id="ff_similar" translate="label" type="select" sortOrder="110" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Similar</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>TODO Description Pushed Products</comment>
                </field>
            </group>
            <group id="data_transfer" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Data export</label>
                <comment><![CDATA[<div class="message message-notice notice"><div data-ui-id="messages-message-success">Please always save the config in the upper right corner after making changes. Especially before using the export-button.</div></div>]]></comment>
                <field id="ff_upload_host" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Upload Host</label>
                    <comment>Please specify the FTP server address, where the export file(s) should be uploaded. For example shopname.fact-finder.de. This parameter shouldn't have any trailing slashes and shouldn't be prefixed with ftp://.</comment>
                </field>
                <field id="ff_upload_user" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Upload User</label>
                </field>
                <field id="ff_upload_password" translate="label" type="password" sortOrder="30" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Upload Password</label>
                </field>
                <field id="ff_manufacturer" translate="label" type="select" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Manufacturer</label>
                    <source_model>Omikron\Factfinder\Model\Source\Attribute</source_model>
                    <comment>Select the Attribute which stores the manufacturer of a product.</comment>
                </field>

                <!--<field id="ff_salesrank" translate="label" type="select" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">-->
                <!--<label>Sales rank</label>-->
                <!--<source_model>Omikron\Factfinder\Model\Source\Attribute</source_model>-->
                <!--<comment>Select the Attribute which stores the sales rank of a product.</comment>-->
                <!--</field>-->

                <field id="ff_ean" translate="label" type="select" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>EAN/ISBN</label>
                    <source_model>Omikron\Factfinder\Model\Source\Attribute</source_model>
                    <comment>Select the Attribute which stores the ean or isbn of a product.</comment>
                </field>
                <field id="ff_additional_attributes" translate="label" type="multiselect" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Select Additional Attributes</label>
                    <source_model>Omikron\Factfinder\Model\Source\Attribute</source_model>
                    <comment>Select all attributes which should be exported to the product feed.</comment>
                </field>
                <field id="ff_additional_attributes_separate_columns" translate="label" type="select" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Export additional attributes in separate columns</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Set this option to 'Yes' If You want to have additional attributes exported in separate columns</comment>
                </field>
                <field id="ff_product_visibility" translate="label comment" type="multiselect" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Select Product Visibility</label>
                    <comment>Visibility attribute values used in filtering product collection.</comment>
                    <source_model>Magento\Catalog\Model\Product\Visibility</source_model>
                </field>
                <field id="ff_createfeed" translate="label comment" type="button" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Generate Export File</label>
                    <frontend_model>Omikron\Factfinder\Block\Adminhtml\System\Config\Button\Feed</frontend_model>
                    <comment>On buttonclick CSV exports of all your products will be generated and uploaded to the specified FTP Server.</comment>
                </field>
                <field id="ff_push_import_enabled" translate="label" type="select" sortOrder="110" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Automatic Import of product data</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Runs an automatic import of the product data to the FACT-Finder servers, after the FTP upload is finished.</comment>
                </field>
                <field id="ff_push_import_type" translate="label" type="multiselect" sortOrder="120" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Pushed import types</label>
                    <source_model>Omikron\Factfinder\Model\Source\ImportTypes</source_model>
                        <depends>
                            <field id="ff_push_import_enabled">1</field>
                        </depends>
                </field>
            </group>
            <group id="basic_auth_data_transfer" translate="label" type="text" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Export via Basic Auth</label>
                <field id="ff_upload_url_user" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Basic Auth User</label>
                </field>
                <field id="ff_upload_url_password" translate="label" type="obscure" sortOrder="30" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Basic Auth Password</label>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                </field>
            </group>
            <group id="configurable_cron" translate="label" type="text" sortOrder="70" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Cron Schedule</label>
                <field id="ff_cron_enabled" translate="label" type="select" sortOrder="120" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Generate Export Files(s) automatically</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="ff_cron_time" translate="label comment" type="time" sortOrder="140" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Start Time</label>
                    <depends>
                        <field id="ff_cron_enabled">1</field>
                    </depends>
                </field>
                <field id="ff_cron_frequency" translate="label comment" type="select" sortOrder="150" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Cron execution frequency</label>
                    <source_model>Magento\Cron\Model\Config\Source\Frequency</source_model>
                    <backend_model>Omikron\Factfinder\Model\Adminhtml\System\Config\Backend\Feed\Frequency</backend_model>
                    <depends>
                        <field id="ff_cron_enabled">1</field>
                    </depends>
                </field>
            </group>
        </section>
    </system>
</config>
