ff-campaign-pushed-products {
    border: 2px solid #006299;
    max-width: 980px;
    margin: 15px 0;
}

#productCampaignCaption {
    background-color: #006299;
    color: white;
    padding: 10px;
    font-weight: bold;
    text-align: center;
    display: block;
}

[unresolved] {
    transition: 700ms;
    opacity: 0;
}