ff-sortbox {
    min-width: 110px;
    color: #393b3e;
    text-align: center;
}

@media (max-width: 560px) {
    .ff-sortbox {
        margin: 10px auto;
    }
}

ff-sortbox .ff-sort-dropdown-container {
    border: 1px solid lightgray;
}

ff-sortbox-item {
    padding: 10px;
    transition: 200ms;
}

ff-sortbox[opened] ff-sortbox-item.selected {
    background-color: #393b3e;
    border-bottom: none;
    color: white;
}

ff-sortbox-item.selected {
    border: 1px solid lightgray;
    padding: 7px;
    transition: 200ms;
}

ff-sortbox-item.selected:hover {
    background-color: #393b3e;
}

ff-sortbox-item:hover{
    background-color: rgb(255, 105, 44);
    color: white;
}
