<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="factfinder" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
            <label><![CDATA[FACT-Finder&reg;]]></label>
            <tab>catalog</tab>
            <class>ff-config-tab</class>
            <resource>Omikron_Factfinder::config</resource>
            <include path="Omikron_Factfinder::system/general.xml" />
            <include path="Omikron_Factfinder::system/advanced.xml" />
            <include path="Omikron_Factfinder::system/components.xml" />
            <include path="Omikron_Factfinder::system/data_transfer.xml" />
            <include path="Omikron_Factfinder::system/cron.xml" />
        </section>
    </system>
</config>
