<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <factfinder>
            <general>
                <is_enabled>0</is_enabled>
                <logging_enabled>0</logging_enabled>
                <address></address>
                <channel></channel>
                <username></username>
                <authentication_prefix></authentication_prefix>
                <authentication_postfix></authentication_postfix>
                <show_add_to_card_button>1</show_add_to_card_button>
                <ff_enrichment>0</ff_enrichment>
                <tracking_product_number_field_role>{"brand":"Manufacturer","campaignProductNumber":"ProductNumber","deeplink":"ProductUrl","description":"Description","displayProductNumber":"ProductNumber","ean":"EAN","imageUrl":"ImageUrl","masterArticleNumber":"MasterProductNumber","price":"Price","productName":"Name","trackingProductNumber":"ProductNumber"}</tracking_product_number_field_role>
            </general>
            <advanced>
                <version>7.3</version>
                <search_immediate>0</search_immediate>
                <use_url_parameter>1</use_url_parameter>
                <use_cache>0</use_cache>
                <default_query>*</default_query>
                <add_params></add_params>
                <add_tracking_params></add_tracking_params>
                <keep_filters>0</keep_filters>
                <keep_url_params></keep_url_params>
                <use_asn>1</use_asn>
                <use_found_words>0</use_found_words>
                <use_campaigns>1</use_campaigns>
                <generate_advisor_tree>0</generate_advisor_tree>
                <disable_cache>0</disable_cache>
                <use_personalization>1</use_personalization>
                <use_semantic_enhancer>1</use_semantic_enhancer>
                <use_aso>1</use_aso>
                <use_browser_history>1</use_browser_history>
                <use_seo>0</use_seo>
                <seo_prefix></seo_prefix>
                <disable_single_hit_redirect>0</disable_single_hit_redirect>
            </advanced>
            <components>
                <ff_suggest>0</ff_suggest>
                <ff_asn>0</ff_asn>
                <ff_paging>0</ff_paging>
                <ff_sortbox>0</ff_sortbox>
                <ff_breadcrumb>0</ff_breadcrumb>
                <ff_productspp>0</ff_productspp>
                <ff_campaign>0</ff_campaign>
                <ff_pushedproductscampaign>0</ff_pushedproductscampaign>
                <ff_recommendation>0</ff_recommendation>
                <ff_similar>0</ff_similar>
            </components>
            <data_transfer>
                <ff_cron_enabled>0</ff_cron_enabled>
                <ff_push_import_enabled>1</ff_push_import_enabled>
                <ff_push_import_type>suggest</ff_push_import_type>
                <ff_product_visibility>3,4</ff_product_visibility>
                <ff_additional_attributes_separate_columns>0</ff_additional_attributes_separate_columns>
            </data_transfer>
            <basic_auth_data_transfer>
                <ff_upload_url_password backend_model="Magento\Config\Model\Config\Backend\Encrypted" />
            </basic_auth_data_transfer>
        </factfinder>
    </default>
</config>
