<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\View\Asset\Minification">
        <plugin name="omikron.factfinder.excludefilesfromminification" type="Omikron\Factfinder\Plugin\ExcludeFilesFromMinification" />
    </type>
    <type name="Omikron\Factfinder\Logger\Logger">
        <arguments>
            <argument name="name" xsi:type="string">factFinderLogger</argument>
            <argument name="handlers" xsi:type="array">
                <item name="error" xsi:type="object">Omikron\Factfinder\Logger\Handler\Error</item>
                <item name="info" xsi:type="object">Omikron\Factfinder\Logger\Handler\Info</item>
            </argument>
        </arguments>
    </type>
    <type name="Omikron\Factfinder\Helper\Communication">
        <arguments>
            <argument name="logger" xsi:type="object">Omikron\Factfinder\Logger\Logger</argument>
        </arguments>
    </type>
</config>
